/* accommodation */
.accommodation {
  margin-bottom: var(--spacingsmall);
}

.accommodation p:not(:last-of-type) {
  margin-bottom: .1rem;
}

.accommodation p:last-of-type {
  margin-bottom: .5rem;
}

.accommodation h4 {
  margin-top: .8rem;
  margin-bottom: .8rem;
}

/* Agenda Item */
.agenda-item:not(:last-child) {
  margin-bottom: var(--spacingsmall);
}

.agenda-item h6 {
  margin-bottom: 0;
}

.agenda-item h4 {
  margin-top: .8rem;
  margin-bottom: .8rem;
}

.agenda-item p {
  margin-bottom: .3rem;
}

/* Badge */
.badge {
  display: inline-block;
  font-size: .6rem;
  line-height: 1rem;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  letter-spacing: .05rem;
  padding: .1rem .5rem;
  border-radius: .1rem;
  background: var(--colorgreendark);
}

.badge.badge-green {
  background: var(--colorgreendark);
}

.badge.badge-green-light {
  background: var(--colorgreen);
}

.badge.badge-pink {
  background: var(--colorpinkdark);
}

.badge.badge-purple {
  background: var(--colorpurple);
}

/* Bio */
.bio:not(:last-of-type) {
  margin-bottom: var(--spacingsmall);
}

/* Button */
.btn {
  display: inline-block;
  background-color: var(--btncolor);
  color: white;
  border-radius: .2rem;
  font-size: .8rem;
  font-weight: 700;
  text-decoration: none;
  padding: .5rem 1.5rem;
  transition: background-color 0.3s, color 0.3s;
}

.btn.on-dark {
  background-color: white;
  color: var(--linkcolor);
}

.btn:active,
.btn:hover,
.btn.on-dark:active,
.btn.on-dark:hover {
  background-color: var(--btnhovercolor);
}

.btn:active,
.btn:hover {
  color: white;
}

.btn.on-dark:active,
.btn.on-dark:hover {
  color: var(--linkcolor);
}

/* Cover Image */

/* Detail Item */

/* Header */
